* {
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
}

body {
	background: #f1f1f1 !important;
	padding: 1em;
}

#pesquisa, #pesquisa2, #pesquisa3 {
	background-image:
		url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
	background-position: 5px 5px;
	background-size: 30px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	width: 100%;
	border: 0;
	font-size: 15px;
	outline: 0;
	border-radius: 25px;
	display: block;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	margin-top: 1em;
}

#pesquisa2 {
	width: 49%;
	float: left;
	margin-bottom:1em;
}

#pesquisa3 {
	width: 49%;
	float: right;
}

#tab {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 18px;
	margin: 1em auto;
}

#tab td {
	text-align: left;
	padding: 12px;
}

#tab th {
	text-align: center;
	padding: 1em;
	background-color: #e8503a;
	color: white;
}

#tab tr:nth-child(even) {
	background-color: #eee;
}

#tab tr:nth-child(odd) {
	background-color: #fff;
}

#tab tr {
	border-bottom: 1px solid #ddd;
}

#tab td#edit a {
	font-weight: bold;
	color: #3470A2;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

#tab td#remove a {
	font-weight: bold;
	color: #E63946;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

.add {
	margin: 1em 0;
	max-width: 150px;
	text-decoration: none;
	font-size: 1em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	text-align: center;
	padding: 15px;
	background: #3470A2;
	transition: 0.3s ease;
	color: #FFF;
	float: right;
}

.add:hover {
	background: #3F88C5;
}

.back {
	cursor: pointer;
	margin-top: 5px;
	margin-left: 15px;
	background: #e8503a;
	width: 30%;
	padding: 10px 15px;
	border: 0;
	color: #fff;
	float: left;
	text-decoration: none;
	font-weight: bold
}

.back:hover {
	background: #e53a20;
}

.form {
	max-width: 400px;
	text-align: center;
	margin: 20px auto;
}

.form h2 {
	background: #219E9A;
	padding: 11.5px 15px;
	color: #fff;
}

.input {
	border: 0;
	font-size: 15px;
	outline: 0;
	padding: 1em;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1em;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.input:focus, #pesquisa:focus, #pesquisa2:focus, #pesquisa3:focus {
	box-shadow: 0 0 5px #3470A2;
	border: 1px solid #3470A2;
}

.botaoAdd {
	font-size: 15px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 70px;
	background: #2ecc71;
	width: 30%;
	padding: 10px 15px;
	border: 0;
	color: #fff;
	float: left;
	font-weight: bold
}

.botaoAdd:hover {
	background: #27ae60;
}

.header {
	position: relative;
	width: 100%;
	border-bottom: 1px solid #d2d6d5;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #e3e3e3, 0 1px 2px #ccc;
}

.main-logo {
	display: inline-block;
	padding: 1em;
	width: auto;
}

.main-logo a.logo {
	display: block;
	width: 150px;
	height: 40px;
	background:
		url("http://interactivejoe.com/book-viewer/assets/images/logo.svg");
	background-color: #fff;
	transition: background-color 250ms ease-out;
}

.main-logo a.logo:hover {
	background-color: #ecf0f1;
}

.main-navigation {
	position: relative;
	float: right;
	margin: 16px 0;
	padding: 0 20px;
	height: 40px;
	border-left: 1px solid #d2d6d5;
}

.item-menu {
	display: inline-block;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #313131;
	margin: 0 1em 0 0.1em;
}

.alert {
	list-style-type: none !important;
}

/*Menu Admin*/
.menu-adm {
	position: absolute;
}

.menu-adm li {
	height: 50px;
	display: block;
	position: relative;
	margin: 5px 0;
}

.menu-adm li:hover {
	cursor: pointer;
}

.menu-adm li:before {
	display: block;
	height: 50px;
	width: 50px;
	content: '>';
	font-size: 2em;
	position: absolute;
	left: 0;
	top: 0;
	border-right: rgba(255, 255, 255, 0.2) 1px solid;
	text-align: center;
	color: #fff;
	z-index: 1;
	line-height: 1.5em;
}

.menu-adm li a {
	color: #fff;
	display: block;
	height: 50px;
	padding: 0 2em 0 70px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 2.8em;
	position: absolute;
}

.menu-adm li:nth-child(1) a {
	background: #888888;
}

.menu-adm li:nth-child(2) a {
	background: #628179;
}

.menu-adm li:nth-child(3) a {
	background: #21aabd;
}

.menu-adm li:nth-child(4) a {
	background: #3ca28a;
}

.menu-adm li a:hover {
	padding-right: 3.0em;
}